@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg: #111;
$fg: #1b1b1b;
$content: #333;
$theme: #08f;
$tindertop: #FD297B;
$tinderbot: #FF655B;

.lever{
    min-height: 100vh;
}

.grid {
    display:grid;
    justify-items: center;
    row-gap: 50px;

    .griditem {
        width:200px;
        padding:10px;
        background:$content;
        height: 520px;
        border-radius: 25px;
        position: relative;
        box-shadow: 0 3px 6px rgba(0,0,0,0.2);
        transition: all .3s ease;
        text-decoration: none;
        border:solid 2px rgba(0,0,0,0);
        &:hover {
            transform:scale(1.03);
            border-color:$tindertop; 
        }
        h1 {
            color:white;
            text-align:center;
            font-size:20px;
            height: 60px;
            overflow:hidden;
        }
    
        img {
            width:140px;
            height: 120px;
            object-fit: cover;
            margin: 0 auto;
            background:white;
            border-radius: 10px;
            padding:5px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
        }

        h3 {
            color:white;
            margin: 0;
            margin-top: 10px;
            
            &:first-of-type {
                margin-top:160px;
            }
        }

        p {
            color:white;
            margin-top: 0px;
            width:170px;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 20px;
        }
    
        button {
            background:linear-gradient(to bottom, $tindertop, $tinderbot);
            border:none;
            padding:8px 24px;
            font-size:24px;
            color:white;
            border-radius: 100px;
            position: relative;
            margin-top: 10px;
            width:100%;
            cursor:pointer;
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
            transition: all .3s ease;
        }
    }
}

